.field-element {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.details-span, .doc-details-button {
  cursor: pointer;
}

.tooltip-container {
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  z-index: 100;
  bottom: 130%;
  margin-left: -15px;
  display: none;
  font-family: 'Inter', sans-serif;
}

/* Tooltip for when our field-type is in a document that is in the expanded document view */
.doc-expand-tooltip-container {
  width: 70px;
  padding: 10px;
  left: 60%;
}

/* Tooltip for when our field-type is in a document that is in the regular table view(not expanded) */
.doc-regular-tooltip-container {
  width: 60px;
  padding: 5px 0;
  left: 50%;
}

/* Tooltip for when our field-type is in a table visualization */
.table-regular-tooltip-container {
  width: 60px;
  padding: 5px 0;
  left: 50%;
}


.details:hover .tooltip-container {
  display: block;
}

.tooltip-link {
  text-decoration: none;
  color: white;
}

.tooltip-link:hover {
  color: #00bfff;
}

.tooltip-icon {
  height:1em;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0);
}

.modal-content {
  margin: 0;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer
}

.url-list {
  display: flex;
  flex-direction: column;
}

.url-button-wrapper {
  margin-bottom: 10px;
}

.url-input-wrapper {
  margin: 10px 0px;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}