.field-element {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.details-span, .doc-details-button {
  cursor: pointer;
}

.tooltip-container {
  width: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 50%;
  margin-left: -15px;
  display: none;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.tooltip-container::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.details:hover .tooltip-container {
  display: block;
}

.tooltip-link {
  text-decoration: none;
  color: white;
}

.tooltip-link:hover {
  color: #00bfff;
}

.tooltip-icon {
  height:1em;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0);
}

.modal-content {
  margin: 0;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer
}

.url-list {
  display: flex;
  flex-direction: column;
}

.url-button-wrapper {
  margin-bottom: 10px;
}

.url-input-wrapper {
  margin: 10px 0px;
}